p-menubar {
  margin: 20px;
}

h1 {
  position: absolute;
  left: 0;
  margin: 2px 1rem 0 1rem;
}

:host ::ng-deep .ui-menubar-root-list {
  padding-left: 10rem;
}

:host ::ng-deep .ui-menubar {
  height: 64px;
}
