:host ::ng-deep .ui-corner-all {
  border-radius: 0;
}

#sidenav, #sidenav-minified {
  height: 100%;
  position: fixed;
  top: 80px;
  padding-left: 0;
  padding-top: 1em;
  background-color: #2d353c;
}

#side-gutter {
  width: 340px;
}

#minified-gutter {
  display: none;
}

:host ::ng-deep .ui-menuitem-link-active {
  background-color: #249d77 !important;
}

@media only screen and (max-width: 1000px) {
  #side-gutter {
    display: none;
  }

  #minified-gutter {
    display: block;
  }

  #content-body {
    left: 80px;
  }
}

@media only screen and (max-width: 400px) {
  #side-gutter {
    display: none;
  }

  #minified-gutter {
    display: block;
  }
}
