<div class="p-grid">
  <div class="p-col-4">
    <div class="box">4</div>
  </div>
  <div class="p-col">
    <div class="box">1</div>
  </div>
  <div class="p-col">
    <div class="box">1</div>
  </div>
  <div class="p-col">
    <div class="box">1</div>
  </div>
  <div class="p-col">
    <div class="box">1</div>
  </div>
  <div class="p-col">
    <div class="box">1</div>
  </div>
  <div class="p-col">
    <div class="box">1</div>
  </div>
  <div class="p-col">
    <div class="box">1</div>
  </div>
  <div class="p-col">
    <div class="box">1</div>
  </div>
</div>

<div class="p-grid">
  <div class="p-col-2">
    <div class="box">2</div>
  </div>
  <div class="p-col-6">
    <div class="box">6</div>
  </div>
  <div class="p-col-4">
    <div class="box">4</div>
  </div>
</div>

<div class="p-grid">
  <div class="p-col-8">
    <div class="box">8</div>
  </div>
  <div class="p-col-2">
    <div class="box">2</div>
  </div>
  <div class="p-col-2">
    <div class="box">2</div>
  </div>
</div>
