.timesheet {
  background-color: white;
}

.header {
  padding: 1em;
  color: white;
  background-color: #0275D8;
  margin-bottom: 1em;
}

.dialogBody {
  height: 400px;
}

h2 {
  font-weight: bolder;
  font-size: xx-large;
  display: inline;
}

h3 {
  font-weight: lighter;
  font-size: xx-large;
  display: inline;
}

:host .tabs ::ng-deep li {
  width: 19%;
}

:host .timesheet-grid ::ng-deep .ui-table {
  margin: 1em;
}

:host p-calendar ::ng-deep .calendar {
  height: 250px;
}

:host p-steps ::ng-deep .ui-steps-item {
  width: 25%;
}

:host p-dataView ::ng-deep .ui-panel {
  border: 0;
}

:host p-dataView ::ng-deep .ui-panel-content {
  padding: 0;
}

:host p-dataView ::ng-deep .ui-panel-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 144px;
}

:host ::ng-deep .displayEditDialog {
  width: 50vw;
}
