<div class="card">
  <p-dataView #dv [paginator]="true" [rows]="9" [sortField]="sortField" [sortOrder]="sortOrder"
              [value]="products" filterBy="name" layout="grid">
    <p-header>
      <div class="ui-helper-clearfix">
        <div class="p-grid">
          <div class="p-col-12 p-md-4">
            <p-dropdown (onChange)="onSortChange($event)"
                        [(ngModel)]="sortField"
                        [options]="sortOptions"
                        [style]="{'min-width':'140px'}"
                        placeholder="Sort By"></p-dropdown>
          </div>
          <div class="p-col-6 p-md-4 filter-container">
            <div style="position:relative">
              <input (input)="dv.filter($event.target.value)"
                     class="ui-inputtext ui-corner-all"
                     pInputText
                     placeholder="Search by brand"
                     type="search">
            </div>
          </div>
          <div class="p-col-6 p-md-4" style="text-align:right">
            <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
          </div>
        </div>
      </div>
    </p-header>
    <ng-template let-product pTemplate="listItem">
      <div class="p-col-12">
        <div class="product-list-item">
          <div class="product-list-detail">
            <div class="product-name">{{product.name}}</div>
            <div class="product-description">{{product.description}}</div>
            <p-rating [cancel]="false" [ngModel]="product.rating" [readonly]="true"></p-rating>
            <i class="pi pi-tag product-category-icon"></i><span class="product-category">{{product.category}}</span>
          </div>
          <div class="product-list-action">
            <span class="product-price">${{product.price}}</span>
            <p-button [disabled]="product.inventoryStatus === 'OUTOFSTOCK'" icon="pi pi-shopping-cart"
                      label="Add to Cart"></p-button>
            <span
              [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template let-product pTemplate="gridItem">
      <div class="p-col-12 p-md-4">
        <div class="product-grid-item card">
          <div class="product-grid-item-top">
            <div>
              <i class="pi pi-tag product-category-icon"></i>
              <span class="product-category">{{product.category}}</span>
            </div>
            <span
              [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>
          </div>
          <div class="product-grid-item-content">
            <div class="product-name">{{product.name}}</div>
            <div class="product-description">{{product.description}}</div>
            <p-rating [cancel]="false" [ngModel]="product.rating" [readonly]="true"></p-rating>
          </div>
          <div class="product-grid-item-bottom">
            <span class="product-price">${{product.price}}</span>
            <p-button [disabled]="product.inventoryStatus === 'OUTOFSTOCK'" icon="pi pi-shopping-cart"></p-button>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
