<div class="alltimesheets ui-g">
  <div class="header ui-g-12">
    <h2>
      Timesheets
    </h2>
  </div>

  <p-table #dt
           (onEditComplete)="onEditComplete($event)"
           (onLazyLoad)="loadTimes($event)"
           (onRowSelect)="onRowSelect($event)"
           [columns]="columns"
           [(selection)]="selectedRows"
           [(contextMenuSelection)]="selectedContextMenuRows"
           [contextMenu]="tableContextMenu"
           [lazy]="true"
           [pageLinks]="8"
           [paginator]="true"
           [reorderableColumns]="true"
           [resizableColumns]="true"
           [rowsPerPageOptions]="[5,10,15,20]"
           [rows]="5"
           [totalRecords]="recordCount"
           [value]="timesheetData"
           class="ui-g-12"
           columnResizeMode="fit"
           exportFilename="users"
           sortField="startTime"
           sortOrder="1">
    <ng-template pTemplate="header">
      <tr>
        <th class="selectBoxColumn" scope="col">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th *ngFor="let column of columns"
            [pSortableColumn]="column.field"
            scope="col">
          {{column.header}}
          <p-sortIcon [field]="column.field"
                      ariaLabel="Activate to sort"
                      ariaLabelAsc="Activate to sort in ascending order"
                      ariaLabelDesc="Activate to sort in descending order"></p-sortIcon>
        </th>
      </tr>
      <tr>
        <th scope="col">&nbsp;</th>
        <th *ngFor="let column of columns"
            scope="col">
          <ng-container *ngIf="column.field === 'project'">
            <p-dropdown
              (onChange)="dt.filter($event.value,column.field, 'equals')"
              [options]="projects"
              appendTo="body"
              styleClass="p-column-filter"></p-dropdown>
          </ng-container>
        </th>
      </tr>
    </ng-template>
    <ng-template let-rowData let-rowIndex="rowIndex" pTemplate="body">
      <tr [pContextMenuRow]="rowData">
        <td class="selectBoxColumn">
          <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
        </td>
        <ng-container *ngFor="let column of columns">
          <td *ngIf="column.field === 'user' || column.field === 'project' else nonEditableColumn"
              [pEditableColumnField]="column.field"
              [pEditableColumn]="rowData">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input *ngIf="column.field === 'user'"
                       [(ngModel)]="rowData[column.field]"
                       pInputText
                       required
                       type="text">
                <p-dropdown
                  *ngIf="column.field === 'project'"
                  [(ngModel)]="rowData[column.field]"
                  [options]="projects"
                  appendTo="body"
                  required></p-dropdown>
              </ng-template>
              <ng-template pTemplate="output">
                {{rowData[column.field]}}
              </ng-template>
            </p-cellEditor>
          </td>
          <ng-template #nonEditableColumn>
            <td [ngSwitch]="column.type">
              <ng-container *ngSwitchCase="'time'">
                {{rowData[column.field] | date: 'HH:mm'}}
              </ng-container>
              <ng-container *ngSwitchCase="'date'">
                {{rowData[column.field] | date}}
              </ng-container>
              <ng-container *ngSwitchDefault>
                {{rowData[column.field]}}
              </ng-container>
            </td>
          </ng-template>
        </ng-container>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <label for="tableSearch">Search: </label>
      <input
        (input)="dt.filterGlobal($event.target.value, 'contains')"
        id="tableSearch"
        pInputText
        placeholder="Enter search query"
        type="text">
      <button (click)="dt.exportCSV()"
              class="ml-1"
              icon="fa fa-table"
              label="Export"
              pButton
              type="button"></button>
    </ng-template>
  </p-table>
  <p-contextMenu #tableContextMenu [model]="contextMenu"></p-contextMenu>
</div>
