.alltimesheets {
  background-color: white;
}

.header {
  padding: 1em;
  color: white;
  background-color: #0275D8;
  margin-bottom: 1em;
}

h2 {
  font-weight: bolder;
  font-size: xx-large;
  display: inline;
}

h3 {
  font-weight: lighter;
  font-size: xx-large;
  display: inline;
}

:host ::ng-deep .ui-table-summar {
  min-height: 60px;
}

:host ::ng-deep .ui-table-summary input {
  margin-left: 0.5em;
  font-size: larger;
  padding: 3px;
}

:host ::ng-deep .ui-table-summary {
  min-height: 60px;
}

.selectBoxColumn {
  width: 43px;
}

p-contextMenu ::ng-deep .ui-menuitem-active a {
  background-color: #F15B2A !important;
}

.ml-1 {
  margin-left: 1rem;
}

p-table ::ng-deep .ui-table thead tr:nth-child(even) .ui-sortable-column.ui-state-highlight {
  background-color: #f4f4f4;
}
