<div class="profile header ui-g-12">
  <h2>
    Profile Info
  </h2>
  <h3>
    Galleria Drag and Drop
  </h3>
</div>

<p-panel (onDrop)="onPicDrop()" class="ui-g-12 ui-md-4" header="My Profile Picture" pDroppable="profilePic"
         styleClass="profilePic">
  <img *ngIf="profileImage; else showDropDiv" [src]="profileImage" alt="profile image" class="ui-g-12" id="profilePic">
  <ng-template #showDropDiv>
    <span class="ui-g-12" id="drop-message">Drop Your Image Here</span>
  </ng-template>
</p-panel>

<div class="spacer ui-g-12 ui-md-1"></div>

<p-galleria #galleria
            (onDragStart)="onDragStart(galleria)"
            class="ui-g-12 ui-md-7"
            dragHandle=".ui-panel-images"
            pDraggable="profilePic">
</p-galleria>

<p-toast></p-toast>
