<p-panel header="Settings">
  <div class="ui-g">
    <label class="ui-g-12 ui-md-2" for="notify">Email To Notify:</label>
    <input class="ui-g-12 ui-md-10 ui-inputtext" id="notify" placeholder="Enter an Email Address" type="email">
  </div>

  <div class="ui-g">
    <label class="ui-g-12 ui-md-2" for="backup">Force Backup:</label>
    <button class="ui-g-12 ui-md-10 ui-button" id="backup">Backup System Now</button>
  </div>

  <div class="ui-g">
    <label class="ui-g-12 ui-md-2" for="stats">Uptime Stats:</label>
    <div class="ui-g-12 ui-md-10 ui-g-nopad" id="stats">
      <div class="icon ui-g-5">
        <i class="fas fa-cloud"></i>
      </div>
      <div class="data ui-g-7">
        <div class="value">20</div>
        <div class="label">Days Uptime</div>
      </div>
    </div>
  </div>
</p-panel>
